@model IEnumerable<StudentPortal.Models.Course>
@{
    ViewBag.Title = "Courses";

}

<h2>Courses</h2>

<div class="container mt-2">

    <div class="row">

        @foreach (var course in Model)
        {
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card card-block">
                    <img src="@course.ImageUrl" alt="Photo of sunset">
                    <h5 class="card-title mt-3 mb-3">@course.Title</h5>
                    <p class="card-text">@course.Description</p>
                    @Html.ActionLink("View Course", "CourseDetail", new { courseId = course.CourseId }, new { @class = "btn btn-default"})
                </div>
            </div>

        }

    </div>
</div>